/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}












/* AQUI COMEÇAM OS TRABALHOS */

/* FONT-FACE -------------------*/
@font-face {
	font-family: "Interstate Mono Light";
	src: url("../fonts/interstate-mono-lgt.ttf");
}




body {
	max-width: 1920px;
}

#header {
	background-color: #F6F6F6;
	height: 60px;
	width: 100%;
}

#logo {
	float: left;
	margin-left: 40px;
}

/* Menu do Header --------------*/
#header {
	overflow: hidden;
}
#menu-header {
	float: right;
	font-family: "Interstate Mono Light", sans-serif;
	font-size: 12pt;
}
#menu-header ul {
	list-style: none;
	margin-top: 8px;
}
#menu-header ul li {
	display: inline-block;
	margin: 0 14px;
}
#menu-header a {
	color: #000;
	display: block;
	margin-bottom: -16px;
	text-decoration: none;
}
img.avatar-min {
	width: 44px;
	height: 44px;
	border-radius: 22px;
	display: block;
}

/* Redes Sociais ---------------*/
#menu-social {
	float: right;
}
#menu-social ul {
	list-style: none;
}
#menu-social ul li {
	display: inline-block;
	height: 30px;
	margin: 15px;
	width: 30px;
}
#menu-social ul:last-child {
	margin-right: 40px;
}