/* line 5, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 80, ./../img/png/*.png */
.png-sprite {
  background-image: url('../img/./../img/png-s939999c964.png');
  background-repeat: no-repeat;
}

/* line 1, ../scss/_shapes.scss */
.shape1 {
  left: 230px;
  top: 0;
}

/* line 6, ../scss/_shapes.scss */
.shape2 {
  left: 390px;
  top: 60px;
}

/* line 11, ../scss/_shapes.scss */
.shape3 {
  left: 645px;
  top: 255px;
}

/* line 16, ../scss/_shapes.scss */
.shape4 {
  left: 205px;
  top: 365px;
}

/* line 21, ../scss/_shapes.scss */
.shape5 {
  left: 660px;
  top: 375px;
}

/* line 26, ../scss/_shapes.scss */
.home-img1 {
  top: 195px;
  left: 130px;
  clip-path: url("../img/svg/home-imagem1.svg#svgPath");
  -webkit-clip-path: url("../img/svg/home-imagem1.svg#svgPath");
}

/* line 33, ../scss/_shapes.scss */
.home-img2 {
  top: 100px;
  left: 630px;
  clip-path: url("../img/svg/home-imagem2.svg#svgPath");
  -webkit-clip-path: url("../img/svg/home-imagem2.svg#svgPath");
}

/* line 41, ../scss/_shapes.scss */
.home-img3 {
  top: 370px;
  left: 430px;
  clip-path: url("../img/svg/home-imagem3.svg#svgPath");
  -webkit-clip-path: url("../img/svg/home-imagem3.svg#svgPath");
}

/* line 2, ../scss/_navigation.scss */
#home-navigation {
  height: 580px;
  top: 50%;
  margin-top: -290px;
}
/* line 8, ../scss/_navigation.scss */
#home-navigation .item {
  position: absolute;
}
/* line 11, ../scss/_navigation.scss */
#home-navigation .item:hover .trem {
  -moz-transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  -webkit-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}
/* line 15, ../scss/_navigation.scss */
#home-navigation .item:hover .cadeira {
  -moz-transform: rotateX(-25deg);
  -ms-transform: rotateX(-25deg);
  -webkit-transform: rotateX(-25deg);
  transform: rotateX(-25deg);
}
/* line 19, ../scss/_navigation.scss */
#home-navigation .item:hover .garrafa {
  -moz-transform: rotateZ(-5deg);
  -ms-transform: rotateZ(-5deg);
  -webkit-transform: rotateZ(-5deg);
  transform: rotateZ(-5deg);
}
/* line 23, ../scss/_navigation.scss */
#home-navigation .item:hover .copo {
  -moz-transform: rotateZ(90deg) translateX(10px) translateY(-15px);
  -ms-transform: rotateZ(90deg) translateX(10px) translateY(-15px);
  -webkit-transform: rotateZ(90deg) translateX(10px) translateY(-15px);
  transform: rotateZ(90deg) translateX(10px) translateY(-15px);
}
/* line 27, ../scss/_navigation.scss */
#home-navigation .item:hover .ventilador {
  -moz-transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  -webkit-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}
/* line 31, ../scss/_navigation.scss */
#home-navigation .item .title {
  display: none;
}
/* line 36, ../scss/_navigation.scss */
#home-navigation .home-icon {
  position: absolute;
  display: inline-block;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
/* line 41, ../scss/_navigation.scss */
#home-navigation .home-icon.trem {
  top: -16px;
  left: -45px;
  background: url('../img/./../img/png-s939999c964.png') 0 -374px no-repeat;
  height: 128px;
  width: 204px;
}
/* line 47, ../scss/_navigation.scss */
#home-navigation .home-icon.cadeira {
  top: -58px;
  left: 130px;
  background: url('../img/./../img/png-s939999c964.png') 0 0 no-repeat;
  height: 180px;
  width: 110px;
}
/* line 53, ../scss/_navigation.scss */
#home-navigation .home-icon.garrafa {
  top: 0px;
  left: 132px;
  background: url('../img/./../img/png-s939999c964.png') 0 -248px no-repeat;
  height: 126px;
  width: 124px;
}
/* line 59, ../scss/_navigation.scss */
#home-navigation .home-icon.ventilador {
  top: 42px;
  left: -85px;
  background: url('../img/./../img/png-s939999c964.png') 0 -502px no-repeat;
  height: 147px;
  width: 112px;
}
/* line 65, ../scss/_navigation.scss */
#home-navigation .home-icon.copo {
  left: 107px;
  top: 68px;
  background: url('../img/./../img/png-s939999c964.png') 0 -180px no-repeat;
  height: 68px;
  width: 43px;
}

/* line 1, ../scss/_general.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 6, ../scss/_general.scss */
html {
  font-size: 0.625em;
}

/* line 10, ../scss/_general.scss */
body {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
}

/* line 15, ../scss/_general.scss */
.container {
  display: block;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

/* line 22, ../scss/_general.scss */
.hidden {
  position: absolute;
  visibility: hidden;
}

/* line 27, ../scss/_general.scss */
#home {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 33, ../scss/_general.scss */
#home .logo {
  left: 365px;
  top: 245px;
}

/* line 39, ../scss/_general.scss */
#local {
  margin-top: 5rem;
}
/* line 42, ../scss/_general.scss */
#local .logo {
  margin-right: 2.5rem;
}
/* line 46, ../scss/_general.scss */
#local .medias {
  margin: 2.5rem 0 0 9.5em;
}

/* line 51, ../scss/_general.scss */
#box-avaliacao {
  position: fixed;
  top: 25rem;
  width: 19.5rem;
  margin-left: -4rem;
}
/* line 57, ../scss/_general.scss */
#box-avaliacao .box {
  box-sizing: border-box;
  font-family: "Open Sans";
  font-weight: bold;
}
/* line 63, ../scss/_general.scss */
#box-avaliacao h1 {
  font-size: 1.4em;
  line-height: 1.55em;
  text-transform: uppercase;
  margin-bottom: 0.25em;
}
/* line 70, ../scss/_general.scss */
#box-avaliacao .info {
  height: 13.25rem;
  color: white;
}
/* line 74, ../scss/_general.scss */
#box-avaliacao .info .content {
  padding: 2.25em 2em 1em 1.8em;
}
/* line 78, ../scss/_general.scss */
#box-avaliacao .info .local {
  margin-bottom: 0.25em;
}
/* line 83, ../scss/_general.scss */
#box-avaliacao .enviar {
  color: black;
}
/* line 86, ../scss/_general.scss */
#box-avaliacao .enviar .content {
  padding: 2.1em 2em 0 2.4em;
}
/* line 91, ../scss/_general.scss */
#box-avaliacao .local, #box-avaliacao .endereco, #box-avaliacao .chamada {
  font-size: 1.1em;
  line-height: 1.25em;
  font-weight: bold;
}

/* line 98, ../scss/_general.scss */
#busca-interna {
  width: 600px;
  vertical-align: top;
  display: inline-block;
  margin-top: 1rem;
}
/* line 104, ../scss/_general.scss */
#busca-interna li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
/* line 110, ../scss/_general.scss */
#busca-interna label {
  cursor: pointer;
  color: #aba9b1;
  display: block;
  line-height: 1.4em;
  font-family: "Open Sans";
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 120, ../scss/_general.scss */
#busca-interna label:hover {
  color: #b8b6bd;
}
/* line 125, ../scss/_general.scss */
#busca-interna label.active {
  color: white;
}
/* line 129, ../scss/_general.scss */
#busca-interna .tipo {
  width: 17rem;
  margin: 0.45em 0.5em 0 0;
}
/* line 133, ../scss/_general.scss */
#busca-interna .tipo .content {
  padding: 1.2rem 2.2rem;
}
/* line 138, ../scss/_general.scss */
#busca-interna .estacao {
  width: 15.2rem;
}
/* line 142, ../scss/_general.scss */
#busca-interna .nome {
  margin-top: -.5em;
}

/* line 148, ../scss/_general.scss */
.svg-bg svg {
  position: absolute;
  z-index: 5;
}
/* line 153, ../scss/_general.scss */
.svg-bg .content {
  position: relative;
  z-index: 10;
}
