/* line 5, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_shapes.scss */
.shape1 {
  left: 330px;
  top: 0;
}

/* line 6, ../scss/_shapes.scss */
.shape2 {
  left: 490px;
  top: 60px;
}

/* line 11, ../scss/_shapes.scss */
.shape3 {
  left: 790px;
  top: 235px;
}

/* line 16, ../scss/_shapes.scss */
.shape4 {
  left: 300px;
  top: 365px;
}

/* line 21, ../scss/_shapes.scss */
.shape5 {
  left: 760px;
  top: 370px;
}

/* line 26, ../scss/_shapes.scss */
.image1 {
  top: 195px;
  left: 230px;
}

/* line 1, ../scss/_navigation.scss */
#home-navigation {
  position: relative;
  display: block;
  width: 1200px;
  height: 580px;
  top: 50%;
  margin: 0 auto;
  margin-top: -290px;
}
/* line 12, ../scss/_navigation.scss */
#home-navigation .item {
  position: absolute;
}
/* line 15, ../scss/_navigation.scss */
#home-navigation .item span {
  display: none;
}

/* line 1, ../scss/_general.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 6, ../scss/_general.scss */
#home {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* line 12, ../scss/_general.scss */
#home .logo {
  left: 465px;
  top: 245px;
}
