
#home-navigation {
    $height: 580px;
    height: $height;
    top: 50%;
    margin-top: (-$height / 2);
    
    .item {
        position: absolute;
        
        &:hover .trem {
            @include transform(rotateZ(5deg));
        }
        
        &:hover .cadeira {
            @include transform(rotateX(-25deg));
        }
        
        &:hover .garrafa {
            @include transform(rotateZ(-5deg));    
        }
        
        &:hover .copo {
            @include transform(rotateZ(90deg) translateX(10px) translateY(-15px));    
        }
        
        &:hover .ventilador {
            @include transform(rotateZ(5deg));    
        }
        
        .title {
            display: none;
        }        
    }

    .home-icon {
        position: absolute;
        display: inline-block;
        @include transition(all 200ms ease-out);
        
        &.trem {
            top: -16px;
            left: -45px;
        }
        
        &.cadeira {
            top: -58px;
            left: 130px;
        }
        
        &.garrafa {
            top: 0px;
            left: 132px;
        }
        
        &.ventilador {
            top: 42px;
            left: -85px;
        }
        
        &.copo {
            left: 107px;
            top: 68px;
        }
    }

}
