#home-navigation {
    $height: 580px;
    height: $height;
    top: 50%;
    margin-top: (-$height / 2);
    
    .item {
        position: absolute;
        
        span {
            display: none;
        }
    }
}