.shape1 {
    left: 330px;
    top: 0;
}

.shape2 {
    left: 490px;
    top: 60px;
}

.shape3 {
    left: 790px;
    top: 235px;
}

.shape4 {
    left: 300px;
    top: 365px;
}

.shape5 {
    left: 760px;
    top: 370px;
}

.image1 {
    top: 195px;
    left: 230px;
}