.shape1 {
    left: 230px;
    top: 0;
}

.shape2 {
    left: 390px;
    top: 60px;
}

.shape3 {
    left: 645px;
    top: 255px;
}

.shape4 {
    left: 205px;
    top: 365px;
}

.shape5 {
    left: 660px;
    top: 375px;
}

.home-img1, .home-img2, .home-img3 {
    -webkit-transform: translateZ(0);
}

.home-img1 {   
    top: 195px;
    left: 130px;
    
    clip-path: url(../img/svg/home-imagem1.svg#svgPath1);   
    -webkit-clip-path: url(#svgPath1);
}

.home-img2 {
    top: 100px;
    left: 630px;
    
    clip-path: url(../img/svg/home-imagem2.svg#svgPath2);
    -webkit-clip-path: url(#svgPath2);
}

.home-img3 {
    top: 370px;
    left: 430px;
    
    clip-path: url(../img/svg/home-imagem3.svg#svgPath3);
    -webkit-clip-path: url(#svgPath3);
}
